name: Generate Mods List

on:
  push:
    branches: [ "main" ]

permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 20

      - name: Generate mods.json
        run: node build/generate-mods-json.js

      - name: Commit mods.json
        uses: EndBug/add-and-commit@v9
        with:
          message: "Auto-update mods.json"
